<p id="notice"><%= notice %></p>
<div class="panel panel-default">
	<div class="panel-heading">Profile</div>
	<div class="panel-body">
	  <div class="col-md-8">
		<p>
		  <strong>About:</strong>
		  </br>
		  <%= @profile.about %>
		</p>
		<p>
		  <strong>Summoner:</strong>
		  <%= @profile.summoner %>
		</p>
		<% begin %>
			<p><strong>ID:</strong> <%= @summonerdata['id'] %></p>
			<p><strong>Level:</strong> <%= @summonerdata['level'] %></p>
 		<% rescue Lol::InvalidAPIResponse => e %>
			<p> Unknown API Error </p> 
		<% rescue SocketError => e %>
			<p> Unknown API Error </p> 
		<% end %> 
	  </div>
	  <div class="col-md-4" align="center">
		<%= image_tag @profile.avatar_url %>
	  </div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Queue and Leagues</div>
	<div class="panel-body">
		<div class="row">
		  <div class="col-md-12" align="center">
	        <% begin %>
				<% if @leaguedata.blank? %>
					<div class="col-md-4" align="center">
						<%= image_tag 'tier/'+ 'unknown.png'%>
						</br>
						<h4>Ranked Team 3v3</h4>
						</br>
						<p>Not ranked </p>
					</div>
					<div class="col-md-4" align="center">
						<%= image_tag 'tier/'+ 'unknown.png'%>
						</br>
						<h4>Ranked Solo 5v5</h4>
						</br>
						<p>Not ranked </p>
					</div>
					<div class="col-md-4" align="center">
						<%= image_tag 'tier/'+ 'unknown.png'%>
						</br>
						<h4>Ranked Team 5v5</h4>
						</br>
						<p>Not ranked </p>
					</div>
				<% else %>
					<div class="col-md-4" align="center">
						<% if @leaguedata.has_key?('RANKED_TEAM_3x3') %>
							<%= image_tag 'tier/'+ @leaguedata['RANKED_TEAM_3x3'] + '.png'%>
						<% else %>
							<%= image_tag 'tier/'+ 'unknown.png'%>
						<% end %>
						</br>
						<h4>Ranked Team 3v3</h4>
						</br>
						<% if @leaguedata.has_key?('RANKED_TEAM_3x3') %>
							<%= @leaguedata['RANKED_TEAM_3x3'].gsub("_"," ") %>
						<% else %>
							<%= "Not ranked" %>
						<% end %>
					</div>					
					<div class="col-md-4" align="center">
						<% if @leaguedata.has_key?('RANKED_SOLO_5x5') %>
							<%= image_tag 'tier/'+ @leaguedata['RANKED_SOLO_5x5'] + '.png'%>
						<% else %>
							<%= image_tag 'tier/'+ 'unknown.png'%>
						<% end %>
						</br>
						<h4>Ranked Solo 5v5</h4>
						</br>
						<% if @leaguedata.has_key?('RANKED_SOLO_5x5') %>
							<%= @leaguedata['RANKED_SOLO_5x5'].gsub("_"," ") %>
						<% else %>
							<%= "Not ranked" %>
						<% end %>
					</div>
					<div class="col-md-4" align="center">
						<% if @leaguedata.has_key?('RANKED_TEAM_5x5') %>
							<%= image_tag 'tier/'+ @leaguedata['RANKED_TEAM_5x5'] + '.png'%>
						<% else %>
							<%= image_tag 'tier/'+ 'unknown.png'%>
						<% end %>
						</br>
						<h4>Ranked Team 5v5</h4>
						</br>
						<% if @leaguedata.has_key?('RANKED_TEAM_5x5') %>
							<%= @leaguedata['RANKED_TEAM_5x5'].gsub("_"," ") %>
						<% else %>
							<%= "Not ranked" %>
						<% end %>
					</div>
				<% end %>
	        <% rescue Lol::NotFound => e %>
				<% if e.message == '404 Not Found' %>
					<p> No data found, summoner may be not ranked yet </p>
				<% else %>
					<% raise e %>
				<% end %>
			<% rescue Lol::InvalidAPIResponse => e %>
				<p> Unknown API Error </p> 
			<% rescue SocketError => e %>
				<p> Unknown API Error </p> 
			<% end %>   
		  </div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Matchups</div>
	<div class="panel-body">
		Matchups go here
	</div>
</div>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
