<div class="col-md-12">
    <%= form_for(@matchup) do |f| %>
      <div class="panel panel-warning">
        <div class="panel-heading">Create your Matchup</div>
          <div class="panel-body">
            <%= f.hidden_field :champ_eins, id: "champLinks" %>
            <%= f.hidden_field :champ_zwei, id: "champRechts" %>
            <!--Top Section for choose : Titel, Lane, Champ1 und Champ 2-->
            <div class="panel panel-default">
                 <div class="panel-body">
                  <div class="matchup-info", style ="width: 60%;margin-left:20%;margin-right:20%">
                  <div class="col-md-3">
                      <div class="champAdd" id="left" data-toggle="modal" data-target="#modal_champ">

                      </div>
                  </div>
                  
                  <div class="col-md-6">
                      <div class="vs">
                      VS
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="champAdd" id="right" data-toggle="modal" data-target="#modal_champ">

                      </div>
                  </div>                  
                  </div>               
              </div>
            </div>
            <%= f.hidden_field :runes, id: "runesHidden"%>
            <!-- Rune Section-->
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">Runes</div>
                <div class="panel-body">
                  <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">Available Runes</div>
                      <div class="panel-body">
                        <!-- Button runes auswählen section-->
                        <div class="runes-buttons">
                          <div class="btn btn-default runeBtn" type="red">Marks</div>
                          <div class="btn btn-default runeBtn" type="yellow">Seals</div>
                          <div class="btn btn-default runeBtn" type="blue">Glyphs</div>
                          <div class="btn btn-default runeBtn" type="black">Quintessences</div>
                        </div>
                        <!-- Rune list section-->
                        <div class="runes">
                        <% rcounter = 0 %>
                          <% $runes.each do |rune| %>
                            
                            <% if $runeTier[rcounter] == "3" %>

                            <% url = $apiurl + "/rune/" + $imgRune[rcounter]%>

                             <% puts url %>
                              <div class="well <%= $runeType[rcounter]%>" id="rune" side="left" type="<%= $runeType[rcounter]%>" >
                                <div class="rune-number">
                                  <% if $runeType[rcounter] == "black"%>
                                    3
                                  <% else %>
                                    9
                                  <% end %>
                                </div> 
                                <div class="rune-img">
                                  <img src="<%= url %>" style="width: 40px; height:40px">
                                </div>  
                                <div class="rune-info">
                                  <div class="rune-name"><%= rune.name%></div>
                                  <div class="rune-stats"><%= rune.description%></div>    
                                </div>
                              </div>
                              <% end %>
                            <% rcounter += 1 %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Selected Runes section -->
                  <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">Selected Runes</div>
                      <div class class="panel-body">
                        <div class="runes-selected">
                          <div class="selected-runes">
                          <p>Total Runes: <span id="rune" type="red">0</span> Marks, <span id="rune" type="yellow">0</span> Seals, <span id="rune" type="blue">0</span> Glyphs, <span id="rune" type="black">0</span> Quints Added</p>
                          </div>
                          <div class="runeAdd">
                            
                          </div>
                        </div>
                      </div>                      
                    </div>
                  </div> 
                </div>


                  </div>
                </div>
              
          <!-- Masteries -->
          <%= f.hidden_field :masteries, id: "masteriesHidden"%>
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Masteries</div>
              <div class="panel-body">
                <div id="off" class="offmasteries pos-rel">
                  <table class="masTable">
                    <tr id="1" class="rowMas">
                      <td class="pos-rel" name="Double-Edged Sword">
                        <img src="<%= urlImgMasteries("Double-Edged Sword") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td class="pos-rel" name="Fury"></div><img src="<%= urlImgMasteries("Fury") %> "class="imgMas">
                        <span class="masNumb">0/4</span>
                      </td>
                      <td class="pos-rel" name="Sorcery"></div><img src="<%= urlImgMasteries("Sorcery") %> "class="imgMas">
                      <span class="masNumb">0/4</span>
                      </td>
                      <td id="pre" class="pos-rel" name="Butcher"></div>
                        <img src="<%= urlImgMasteries("Butcher") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/1</span>                       
                      </td>
                    </tr>
                    <tr id="2" class="rowMas">
                      <td class="pos-rel" name="Expose Weakness"><div class="overlay"></div><img src="<%= urlImgMasteries("Expose Weakness") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td id="pre" class="pos-rel" name="Brute Force"><div class="overlay"></div>
                        <img src="<%= urlImgMasteries("Brute Force") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/3</span>
                      </td>
                      <td id="pre" class="pos-rel" name="Mental Force"><div class="overlay"></div>
                        <img src="<%= urlImgMasteries("Mental Force") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/3</span>
                      </td>
                      <td id="after" class="pos-rel" name="Feast"><div class="overlay"></div><img src="<%= urlImgMasteries("Feast") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                    </tr>
                    <tr id="3" class="rowMas">
                      <td id="pre" class="pos-rel" name="Spell Weaving"><div class="overlay"></div>
                        <img src="<%= urlImgMasteries("Spell Weaving") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/1</span>
                      </td>
                      <td id="after" class="pos-rel" name="Martial Mastery"><div class="overlay"></div><img src="<%= urlImgMasteries("Martial Mastery") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td id="after" class="pos-rel" name="Arcane Mastery"><div class="overlay"></div><img src="<%= urlImgMasteries("Arcane Mastery") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td id="pre" class="pos-rel" name="Executioner"><div class="overlay"></div>
                        <img src="<%= urlImgMasteries("Executioner") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/3</span>
                      </td>
                    </tr>
                    <tr id="4" class="rowMas">
                      <td id="after" class="pos-rel" name="Blade Weaving"><div class="overlay"></div><img src="<%= urlImgMasteries("Blade Weaving") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td class="pos-rel" name="Warlord"><div class="overlay"></div><img src="<%= urlImgMasteries("Warlord") %> "class="imgMas">
                      <span class="masNumb">0/3</span>
                      </td>
                      <td class="pos-rel" name="Archmage"><div class="overlay"></div><img src="<%= urlImgMasteries("Archmage") %> "class="imgMas">
                       <span class="masNumb">0/3</span>
                      </td>
                      <td id="after" class="pos-rel" name="Dangerous Game"><div class="overlay"></div><img src="<%= urlImgMasteries("Dangerous Game") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                    </tr>
                    <tr id="5" class="rowMas">
                      <td class="pos-rel" name="Frenzy"><div class="overlay"></div><img src="<%= urlImgMasteries("Frenzy") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td class="pos-rel"name="Devastating Strikes"><div class="overlay"></div><img src="<%= urlImgMasteries("Devastating Strikes") %> "class="imgMas"></img>
                      <span class="masNumb">0/3</span>
                      </td>
                      <td></td>
                      <td class="pos-rel" name="Arcane Blade"><div class="overlay"></div><img src="<%= urlImgMasteries("Arcane Blade") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                    </tr>
                     <tr id="6" class="rowMas">
                      <td></td>
                      <td class="pos-rel" name="Havoc"><div class="overlay"></div><img src="<%= urlImgMasteries("Havoc") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>  
                    <div class="mastCounter">0 Offense</div>                  
                  </table>
                </div>
                <div id="def" class="defmasteries pos-rel">
                  <table class="masTable">
                    <tr id="1" class="rowMas">
                      <td id="pre" class="pos-rel" name="Bloack"></div>
                        <img src="<%= urlImgMasteries("Bloack") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/2</span>
                      </td>
                      <td class="pos-rel" name="Recovery"></div><img src="<%= urlImgMasteries("Recovery") %> "class="imgMas">
                        <span class="masNumb">0/2</span>
                      </td>
                      <td class="pos-rel" name="Enchanted Armor"></div><img src="<%= urlImgMasteries("Enchanted Armor") %> "class="imgMas">
                        <span class="masNumb">0/2</span>
                      </td>
                      <td id="pre" class="pos-rel" name="Tough Skin"></div>
                        <img src="<%= urlImgMasteries("Tough Skin") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/2</span>
                      </td>
                    </tr>
                    <tr id="2" class="rowMas">
                      <td id="after" class="pos-rel" name="Unyielding"><div class="overlay"></div><img src="<%= urlImgMasteries("Unyielding") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td id="pre" class="pos-rel" name="Veteran's Scars"><div class="overlay"></div>
                        <img src="<%= urlImgMasteries("Veteran's Scars") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/3</span>
                      </td>
                      <td></td>
                      <td id="after" class="pos-rel" name="Bladed Armor"><div class="overlay"></div><img src="<%= urlImgMasteries("Bladed Armor") %> "class="imgMas">
                         <span class="masNumb">0/1</span>  
                      </td>
                    </tr> 
                    <tr id="3" class="rowMas">
                      <td class="pos-rel" name="Oppression"><div class="overlay"></div><img src="<%= urlImgMasteries("Oppression") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td id="after" class="pos-rel" name="Juggernaut"><div class="overlay"></div><img src="<%= urlImgMasteries("Juggernaut") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td id="pre" class="pos-rel" name="Hardiness"><div class="overlay"></div>
                        <img src="<%= urlImgMasteries("Hardiness") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/3</span>
                      </td>
                      <td id="pre" class="pos-rel" name="Resistance"><div class="overlay"></div>
                        <img src="<%= urlImgMasteries("Resistance") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/3</span>
                      </td>
                    </tr> 
                    <tr id="4" class="rowMas">
                      <td id="pre" class="pos-rel" name="Perseverance"><div class="overlay"></div>
                        <img src="<%= urlImgMasteries("Perseverance") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/3</span>
                      </td>
                      <td class="pos-rel" name="Swiftness"><div class="overlay"></div><img src="<%= urlImgMasteries("Swiftness") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td id="after" class="pos-rel" name="Reinforced Armor"><div class="overlay"></div><img src="<%= urlImgMasteries("Reinforced Armor") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td id="after" class="pos-rel" name="Evasive"><div class="overlay"></div><img src="<%= urlImgMasteries("Evasive") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                    </tr> 
                    <tr id="5" class="rowMas">
                      <td id="after" class="pos-rel" name="Second Wind"><div class="overlay"></div><img src="<%= urlImgMasteries("Second Wind") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td class="pos-rel" name="Tenacious"><div class="overlay"></div><img src="<%= urlImgMasteries("Tenacious") %> "class="imgMas">
                      <span class="masNumb">0/4</span>
                      </td>
                      <td class="pos-rel" name="Runic Blessing"><div class="overlay"></div><img src="<%= urlImgMasteries("Runic Blessing") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td></td>
                    </tr> 
                    <tr id="6" class="rowMas">
                      <td></td>
                      <td class="pos-rel" name="Legendary Guardian"><div class="overlay"></div><img src="<%= urlImgMasteries("Legendary Guardian") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>    
                    <div class="mastCounter">0 Defense</div>
                  </table>

                </div>
                <div id="util" class="utilmasteries pos-rel">
                  <table class="masTable">
                    <tr id="1" class="rowMas">
                      <td class="pos-rel" name="Phasewalker"></div><img src="<%= urlImgMasteries("Phasewalker") %> "class="imgMas">
                        <span class="masNumb">0/1</span>  
                      </td>
                      <td class="pos-rel" name="Fleet of Foot"></div><img src="<%= urlImgMasteries("Fleet of Foot") %> "class="imgMas">
                      <span class="masNumb">0/3</span>
                      </td>
                      <td id="pre" class="pos-rel" name="Meditation"></div>
                        <img src="<%= urlImgMasteries("Meditation") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/3</span>
                      </td>
                      <td class="pos-rel" name="Scout"></div><img src="<%= urlImgMasteries("Scout") %> "class="imgMas">
                      <span class="masNumb">0/1</span>
                      </td>
                    </tr>
                    <tr id="2" class="rowMas">
                      <td></td>
                      <td class="pos-rel" name="Summoner's Insight"><div class="overlay"></div><img src="<%= urlImgMasteries("Summoner's Insight") %> "class="imgMas">
                      <span class="masNumb">0/3</span>
                      </td>
                      <td id="after" class="pos-rel" name="Strength of Spirit"><div class="overlay"></div><img src="<%= urlImgMasteries("Strength of Spirit") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td id="pre" class="pos-rel" name="Alchemist"><div class="overlay"></div>
                        <img src="<%= urlImgMasteries("Alchemist") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/1</span>
                      </td>
                    </tr>
                    <tr id="3" class="rowMas">
                      <td id="pre" class="pos-rel" name="Greed"><div class="overlay"></div>
                        <img src="<%= urlImgMasteries("Greed") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/3</span>
                      </td>
                      <td class="pos-rel" name="Runic Affinity"><div class="overlay"></div><img src="<%= urlImgMasteries("Runic Affinity") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td class="pos-rel" name="Vampirism"><div class="overlay"></div><img src="<%= urlImgMasteries("Vampirism") %> "class="imgMas">
                      <span class="masNumb">0/3</span>
                      </td>
                      <td id="after" class="pos-rel" name="Culinary Master"><div class="overlay"></div><img src="<%= urlImgMasteries("Culinary Master") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                    </tr>
                    <tr id="4" class="rowMas">
                      <td id="after" class="pos-rel" name="Scavenger"><div class="overlay"></div><img src="<%= urlImgMasteries("Scavenger") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td id="pre" class="pos-rel" name="Wealth"><div class="overlay"></div>
                        <img src="<%= urlImgMasteries("Wealth") %> "class="imgMas">
                        <span class="depend"></span>
                        <span class="masNumb">0/1</span>
                      </td>
                      <td class="pos-rel" name="Expanded Mind"><div class="overlay"></div><img src="<%= urlImgMasteries("Expanded Mind") %> "class="imgMas">
                      <span class="masNumb">0/3</span>
                      </td>
                      <td class="pos-rel" name="Inspiration"><div class="overlay"></div><img src="<%= urlImgMasteries("Inspiration") %> "class="imgMas">
                      <span class="masNumb">0/2</span>
                      </td>
                    </tr>
                    <tr id="5" class="rowMas">
                      <td></td>
                      <td id="after" class="pos-rel" name="Bandit"><div class="overlay"></div><img src="<%= urlImgMasteries("Bandit") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td class="pos-rel" name="Intelligence"><div class="overlay"></div><img src="<%= urlImgMasteries("Intelligence") %> "class="imgMas">
                      <span class="masNumb">0/3</span>
                      </td>
                      <td></td>
                    </tr>                    
                    <tr id="6" class="rowMas">
                      <td></td>
                      <td class="pos-rel" name="Wanderer"><div class="overlay"></div><img src="<%= urlImgMasteries("Wanderer") %> "class="imgMas">
                        <span class="masNumb">0/1</span>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                    <div class="mastCounter">0 Utility</div>                
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- Skill Order Section -->
          <%= f.hidden_field :skill_order, id: "skill_order" %>
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Skill Section</div>
              <div class="panel-body">
              <!-- Skill Description--> 
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">Skill Description</div>
                  <div class="panel-body">
                    <div class="col-md-3">
                      <div class="skill" pos="q">
                        <img id="q" src="">
                      </div>
                    </div>
                    <div class="col-md-9">
                      <%= f.text_area :early_laning, class: "spellText"%>
                    </div>

                    <div class="col-md-3">
                      <div class="skill" pos="w">
                        <img id="w" src="">
                      </div>
                    </div>
                    <div class="col-md-9">
                      <%= f.text_area :early_laning, class: "spellText"%>
                    </div>

                    <div class="col-md-3">
                      <div class="skill" pos="e">
                        <img id="e" src="">
                      </div>
                    </div>
                    <div class="col-md-9">
                      <%= f.text_area :early_laning, class: "spellText"%>
                    </div>
                    
                    <div class="col-md-3">
                      <div class="skill" pos="r">
                        <img id="r" src="">
                      </div>
                    </div>
                    <div class="col-md-9">
                      <%= f.text_area :early_laning, class: "spellText"%>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Skill Order -->
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">Skill Order</div>
                    <div class="panel-body">
                    <table id="skillOrder" class="table table-striped table-bordered">
                      <thead>
                        <tr id="lvl">
                          <th>Player Level</th>
                          <th class="lvlnumber">1</th>
                          <th class="lvlnumber">2</th>
                          <th class="lvlnumber">3</th>
                          <th class="lvlnumber">4</th>
                          <th class="lvlnumber">5</th>
                          <th class="lvlnumber">6</th>
                          <th class="lvlnumber">7</th>
                          <th class="lvlnumber">8</th>
                          <th class="lvlnumber">9</th>
                          <th class="lvlnumber">10</th>
                          <th class="lvlnumber">11</th>
                          <th class="lvlnumber">12</th>
                          <th class="lvlnumber">13</th>
                          <th class="lvlnumber">14</th>
                          <th class="lvlnumber">15</th>
                          <th class="lvlnumber">16</th>
                          <th class="lvlnumber">17</th>
                          <th class="lvlnumber">18</th>
                        </tr>
                      </thead>
                      <tr id="q">
                        <td name="info" class="noCss">Q Ability</td>
                        <td ></td>
                        <td ></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr id="w">
                        <td class="noCss" name="info">W Ability</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>               
                      </tr>
                      <tr id="e">
                        <td class="noCss"name="info">E Ability</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>                 
                      </tr>
                      <tr id="r">
                        <td class="noCss"name="info">R Ability</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>                             
                      </tr>
                    </table>
                  </div>
                </div>
                </div>
              </div>  
            </div>
          </div> 
          <!-- summoners-->
          <%= f.hidden_field :summoners, id: "sum"%>
          <div class ="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">Summoners</div>
                <div class="panel-body">
                  <div class="summoners">
                    <div class="sumAdd" pos="1"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_sum" ></div>
                    <div class="sumAdd" pos="2"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_sum" ></div>                
                  </div>
                </div>
              </div>             
          </div>
          <!-- starting items-->
            <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading">Starting Items</div>
                <div class="panel-body">
                  <div class="startbuild">
                    <div class="imgAdd" pos="1"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="2"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="3"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="4"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="5"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="6"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                  </div>
                </div>
              </div> 
          </div>
          <!--Early Laning section-->
          <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading">Early laning</div>
                <div class="panel-body">
                <%= f.text_area :early_laning, class: "matchupText"%>
                </div>
              </div> 
          </div>
          <div class ="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">Core Items</div>
                <div class="panel-body">
                  <div class="coreEarly">
                    <div class="imgAdd" pos="1"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="2"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="3"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                  </div>
                </div>
              </div>             
          </div>

          <!--Mid Laning section-->
          <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading">Mid laning</div>
                <div class="panel-body">
                 <%= f.text_area :mid_laning, class: "matchupText" %>
                </div>
              </div> 
          </div>
          <div class ="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">Core Items</div>
                <div class="panel-body">
                  <div class="coreMid">
                    <div class="imgAdd" pos="1"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="2"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="3"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                  </div>
                </div>
              </div>             
          </div>

          <!--Late Laning section-->
          <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading">late laning</div>
                <div class="panel-body">
                  <%= f.text_area :late_laning, class: "matchupText" %>
                </div>
              </div> 
          </div>
          <div class ="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">Core Items</div>
                <div class="panel-body">
                </div>
              </div>             
          </div>
          <!--General Role -->
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">General Role</div>
              <div class="panel-body">
                <%= f.text_area :general_role, class: "matchupText" %>
              </div>
            </div>
          </div>

          <!--Final build-->
          <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading">Final Build</div>
                <div class="panel-body">
                  <div class="finalbuild">
                    <div class="imgAdd" pos="1"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="2"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="3"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="4"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="5"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    <div class="imgAdd" pos="6"style="border-style: solid; border-color:black;" data-toggle="modal" data-target="#modal_item" ></div>
                    </div>
                </div>
              </div> 
          </div>
       </div>
          <%= f.hidden_field :final_build, id: "final_build"%>
          <%= f.hidden_field :start_items, id: "start_build"%>
          <%= f.hidden_field :early_core_items, id: "early_build"%>
          <%= f.hidden_field :mid_core_items, id: "mid_build"%>
          <%= f.submit%>          
    <% end %>
</div>

  </div>


<!-- Modal Section -->
<div class="modal fade" id="modal_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Choose your item</h4>
        </div>
        <div class="modal-body">
          <% counter = 0 %>
          <% $imgItem.each do |item| %>
            <img class="imgItem" src="<%= $apiurl + 'item/' + item%>" data-toggle='tooltip' data-html="true" data-placement='bottom' title='<%= $itemDesc[counter]%>' >
            <% counter+=1%>
          <% end %>
        </div>

        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="modal_sum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Choose your Summoner</h4>
        </div>
        <div class="modal-body">
          <% counter = 0 %>
          <% $imgSum.each do |sum| %>
            <img class="imgSum" src="<%= $apiurl + 'spell/' + sum%>" data-toggle='tooltip' data-html="true" data-placement='bottom' title='<%= $sumDesc[counter]%>' >
            <% counter+=1%>
          <% end %>
        </div>

        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="modal_champ" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Choose your Summoner</h4>
        </div>
        <div class="modal-body">
          <% $allchamps.each do |champ| %>
            <img class="imgChamp" src="<%= urlImgChamps(champ.name)%>" name="<%= champ.name%>" data-toggle='tooltip' data-html="true" data-placement='bottom' >
          <% end %>
        </div>

        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

</div>