<div class="col-md-12">

<div class="form_row">
      <%= radio_button_tag 'theme', 1, true, {:id => "guide"} %>
      <label>Guide</label>
      <%= radio_button_tag 'theme', 2, false, {:id => "matchup", } %>
      <label>Matchup</label>
    
</div>

</div>

<div class="col-md-8" style="margin-bottom:100px">
	
	<div class="portrait">

		<%= image_tag('Aatrox_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	
	</div>
	<div class="portrait">
		<a href="<%= ahri_path %>">
		<%= image_tag('Ahri_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
		</a>
	</div>
	<div class="portrait">
		<%= image_tag('Akali_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Alistar_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Amumu_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Anivia_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Annie_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Ashe_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Azir_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Blitzcrank_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Brand_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Braum_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Caitlyn_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Cassiopeia_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Chogath_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Corki_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Darius_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Diana_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Draven_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('DrMundo_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Elise_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Evelynn_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Ezreal_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Fiddlesticks_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Fiora_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Fizz_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Galio_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Gangplank_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Garen_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Gnar_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Gragas_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>		
	</div>
	<div class="portrait">
		<%= image_tag('Graves_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Hecarim_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Heimerdinger_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Irelia_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Janna_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('JarvanIV_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Jax_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Jayce_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Jinx_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Karma_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Karthus_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Kassadin_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Katarina_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Kayle_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Kennen_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Khazix_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('KogMaw_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Leblanc_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('LeeSin_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Leona_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Lissandra_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Lucian_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Lulu_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Lux_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Malphite_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Malzahar_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Maokai_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('MasterYi_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('MissFortune_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('MonkeyKing_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Mordekaiser_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Morgana_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Nami_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Nasus_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Nautilus_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Nidalee_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Nocturne_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Nunu_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Olaf_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Orianna_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Pantheon_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Poppy_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Quinn_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Rammus_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('RekSai_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Renekton_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Rengar_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Riven_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Rumble_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Ryze_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Sejuani_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Shaco_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Shen_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Shyvana_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Singed_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Sion_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Sivir_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Skarner_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Sona_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Soraka_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Swain_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Syndra_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Talon_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Taric_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Teemo_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Thresh_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Tristana_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Trundle_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Tryndamere_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('TwistedFate_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Twitch_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Udyr_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Urgot_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Varus_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Vayne_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Veigar_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('VelKoz_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Vi_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Viktor_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Vladimir_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Volibear_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Warwick_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Xerath_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('XinZhao_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Yasuo_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Yorick_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Zac_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Zed_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Ziggs_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>		
	</div>
	<div class="portrait">
		<%= image_tag('Zilean_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>
	<div class="portrait">
		<%= image_tag('Zyra_Square_0.png',:width => 100, :height => 100, :crop => :fill, :class => 'port')  %>
	</div>



</div>
<div class="col-md-4">Infos</div>