<%= form_for(@champion) do |f| %>
  <% if @champion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@champion.errors.count, "error") %> prohibited this champion from being saved:</h2>

      <ul>
      <% @champion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lane %><br>
    <%= f.text_field :lane %>
  </div>
  <div class="field">
    <%= f.label :quickinfo %><br>
    <%= f.text_area :quickinfo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
