<div class="col-md-8">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @champion.name %>
	</p>
		<div><%= image_tag(@champion.splashartBig, :class => "splashart") %></div>
	<p>
	  <strong>Lane:</strong>
	  <%= @champion.lane %>
	</p>

	<p>
	  <strong>Quickinfo:</strong>
	  <%= @champion.quickinfo %>
	</p>
</div>
<div class="col-md-4">
	<%= render 'counters/weakStrong' %><br>
	<%= render 'counters/addCounter' %><br>

</div>