<div class="col-md-8">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @champion.name %>
	</p>
		<div><%= image_tag(@splashArt, :class => "splashart") %></div>
	<p>


	<% spellHash = @champion.getSpellHash %>
	<% spellHash.each do |spell, infos|%>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-md-3">
						<%= image_tag(infos["image"]) %>
					</div>
					<div class="col-md-9">
						<p><%= infos["name"]%></p>
						<p><%= infos["description"]%></P><br>

						<p>Cooldown: <%= infos["cooldown"]%></p>
						<% # Wenn es sich um nicht mana typen handelt wird dies so gehandelt%>
						<% unless infos["ressource"].blank?%>
							<p>Cost: <%= infos["ressource"]%></p>
						<% else %>
							<p>Cost: <%= infos["costBurn"]%> <%= infos["costType"]%></p>
						<% end %>
						<p>Range: <%= infos["range"]%></p>
					</div>
				</div>
			</div>

	<% end %>



</div>
<div class="col-md-4">
	<%= render 'counters/weakStrong' %><br>
	<%= render 'counters/addCounter' %><br>
</div>
