<nav class="navbar navstyle navbar-default navbar-fixed-top" role="navigation" xmlns="http://www.w3.org/1999/html">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left" style="margin-left:10%">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Matchups", selectmatchup_path %></li>
        <li>
        <div class="navbar-right">
        <% if user_signed_in? %>
        	<%= link_to destroy_user_session_path, method: :delete do %>
        		<button type="button" style="margin-top:10px" class="btn btn-primary ">Log Out</button>
        	<% end %>
        	<div class="navbar-right navbar-brand" >Signed in as: <%= current_user.email %></div>
        <% else %>
        	<%= link_to new_user_session_path do %>
       			<button type="button" style="margin-top:10px" class="btn btn-primary ">Log In</button>
  			<% end %>
  		<% end %>
  		</div>
  		</li>
      </ul>
    </div>

</nav>